*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    padding-bottom: 40px;
}
.container{
    margin: auto;
    width: 90%;
    max-width: 1400px;
}
.titulo{
    text-align: center;
    font-size: 34px;
    color: #fff;
    margin: 30px 0;
}
.tab{
    overflow: hidden;
    &__item {
        width: 100%;
        flex-shrink: 0;
        padding: 30px 35px;
        background: #fff;
    }
    &__contenedor {
        display: flex;
        flex-wrap: nowrap;
        transform: translateX(0);
        transition: all 0.3s ease-in;
    }
    
    &__controls {
        display: flex;
    }
    
    &__button {
        width: auto;
        padding: 18px 40px;
        color: #fff;
        background-color: #58595B;
        font-size: 17px;
        font-weight: 600;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        outline: inherit;
        border: none;
        margin-right: 2px;
        cursor: pointer;
        transition: 0.3s all ease;
        &:hover{
            background: #F47920;
        }
    }
    
    &__button.active {
        background: #F47920;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: -10px;
            left: calc(50% - 12.5px);
            width: 0;
            height: 0;
            border-width: 10px 10px 0px;
            border-style: solid;
            border-color: #F47920 transparent transparent;
            z-index: 99;
        }
    }
    &__multimedia{
        display: flex;
        gap: 30px;
        justify-content: space-between;
    }
    &__firts-block{
        width: 25%;
    }
    &__second-block{
        width: 70%;
    }
}

